.icon-row__column {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  margin: 0px 15px;
}
.twice_column {
  justify-content: flex-start;
  margin-top: 40px;
}

.twice_column div:nth-child(2) {
  padding-left: 145px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
.find-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 15px;
  padding-bottom: 25px;
}
